.accordion-list {
  list-style-type: none;

  @include laptop {
    width: 100%;
  }
}

.accordion {
  @include tablet {
    padding-right: 27px;
    padding-left: 27px;
  }
}

.accordion__content {
  display: none;
  color: $color-white;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  padding: 0 5% 0 1%;
  margin-bottom: 30px;
  animation: fadeInDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;

  @include laptop {
    padding: 0 6% 0 0;
    line-height: 24px;
  }

  @include desktop {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 27px;
    padding: 0 24px 0 0;
  }

  &.is-open {
    display: block;
    animation: fadeInDown;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
}

.accordion__header {
  padding-top: 30px;
  padding-bottom: 30px;

  @include desktop {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.accordion__toggle {
  display: flex;
  background: none;
  border: none;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;

  &[aria-expanded="false"] {
    .accordion__toggle-icon {
      transform: rotate(0);
      transition-property: transform;
      transition-duration: $transition-duration * 2;
    }
  }

  &[aria-expanded="true"] {
    .accordion__toggle-icon {
      transform: rotate(-180deg);
      transition-property: transform;
      transition-duration: $transition-duration * 2;
    }
  }
}

.accordion__title {
  color: $color-white;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0;
  text-align: left;
  line-height: 15px;
  padding-right: 16px;
  margin-bottom: 0;

  @include laptop {
    font-size: 20px;
    line-height: 24px;
  }

  @include desktop {
    font-size: 26px;
    letter-spacing: 2.7px;
    line-height: 32px;
  }
}

.accordion-list__item {
  border-top: 1px solid $color-white;

  @include desktop {
    width: 100%;
  }

  &:last-child {
    border-bottom: 1px solid $color-white;
  }
}

.accordion__toggle-icon {
  flex-shrink: 0;

  svg {
    fill: $color-white;
    height: 14px;
    width: 14px;
  }
}