$badge-background-color: $color-primary;
$badge-color: $color-white;
$badge-padding: 4px 8px;

.badge {
  display: inline-block;
  padding: $badge-padding;
  background-color: $badge-background-color;
  color: $badge-color;
}
