.cards-slider {


  .section-companies & {
    padding-bottom: 40px;
    background-color: $color-sky-blue;

    @include laptop {
      padding-bottom: 0;
      background-color: transparent;
    }

    .pagination__link {
      color: $color-primary;

      &:focus,
      &:hover,
      &:active {
        border-color: $color-primary;
        color: $color-primary;
      }
    }

    .pagination__link.swiper-pagination-bullet-active {
      border-color: $color-primary;
      color: $color-primary;
    }
  }

  &__inner {
    height: auto;
  }

  &__item {
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    width: 100%;
    min-height: 320px;
    height: auto;
    margin: 0;
    padding: 0;

    @include laptop {
      min-height: 295px;
    }

    @include desktop {
      min-height: 300px;
    }
  }

  &__pagination {
    position: static;
    padding: 20px 15px 0;

    @include laptop {
      display: none;
    }
  }


}