.card-company {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $color-sky-blue;

  @include desktop {
    align-items: flex-start;
    padding: 40px 50px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 217px;
    margin-bottom: 20px;
    background-color: $color-white;

    > img {
      max-width: 197px;
    }

    @include laptop {
      height: 144px;

      > img {
        max-width: 131px;
      }
    }

    @include desktop {
      height: 280px;
      margin-bottom: 40px;

      > img {
        max-width: 235px;
      }
    }
  }

  h3 {
    align-self: center;
    font-family: $font-secondary;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-primary;

    @include desktop {
      margin-bottom: 40px;
      font-size: 26px;
      line-height: 32px;
      letter-spacing: 2.6px;
    }
  }

  &__content {
    margin-bottom: auto;
    font-family: $font-secondary;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.8px;
    color: $color-primary;

    @include desktop {
      font-size: 16px;
      line-height: 27px;
    }

    p {
      margin-bottom: 24px;
    }
  }
}
