.cards-slider {
  &__inner {
    height: auto;
  }

  &__item {
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    width: 100%;
    min-height: 320px;
    height: auto;
    margin: 0;
    padding: 0;

    @include laptop {
      min-height: 295px;
    }

    @include desktop {
      min-height: 300px;
    }
  }

  &__pagination {
    position: static;
    padding: 40px 15px 0;

    @include laptop {
      display: none;
    }
  }
}
