.container {
  @include make-container();
  max-width: 1920 - ($container-padding-x * 2);

  @include tablet {
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
  }

  @media (min-width: 1024px) {
    padding-right: 118px;
    padding-left: 118px;
  }

  @include desktop {
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
  }
}

.container-md {
  @include make-container();
  max-width: 1366px + $container-padding-x * 2;

  @include tablet {
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
  }
}
