.insights {
  overflow: hidden;

  h2 {

    @include desktop {
      margin-bottom: 80px;
    }
  }

  &__line {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__list {
    display: grid;
    gap: 40px;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      gap: 40px 50px;
    }

    @include desktop {
      gap: 40px 120px;
    }

    li {
      height: 100%;
      margin-bottom: 0 !important;
    }
  }

  &__text-wrap {
    display: grid;
    gap: 40px;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      gap: 40px 50px;
    }

    @include desktop {
      gap: 80px 120px;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
