.section-job {
  background-color: $color-black;
}

.section-job__intro {
  margin-right: -15px;
  margin-left: -15px;

  @include tablet {
    margin: 0;
    background-color: $color-primary;
  }

  @include desktop {
    padding: 62px;
  }
}

.section-job__intro h3 {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 1.6px;
  color: $color-white;
  font-weight: 400;
  margin-bottom: 28px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 40px;
    font-size: 16px;
  }
}

.section-job__vacation > li {
  padding: 40px 0;
}

.section-job__vacation li {
  list-style-type: none;
}

.card-role h4 {
  color: $color-white;
  list-style-type: none;
  grid-area: title;

  @include desktop {
    padding-top: 14px;
  }
}

.section-job__vacation {
  list-style-type: none;
}

.section-job__vacation > li:last-child {
  border-bottom: 1px solid $color-white;
}

.section-job__vacation > li {
  border-top: 1px solid $color-white;
}

.search-filter-forms h4 {
  color: $color-white;
  background-color: $color-secondary;
  font-size: 16px;
  letter-spacing: 1.6px;
  margin-bottom: 0;
  font-size: 12px;
  padding: 16px 24px 18px 13px;

  @include desktop {
    font-size: 16px;
    padding: 25px 26px 23px 39px;
  }
}

.search-filter-forms__wrap {
  background-color: $color-sky-blue;

  .button {
    width: 100%;

    @include laptop {
      width: auto;
    }
  }
}

.search-filter-forms__wrap input::placeholder,
.fsb-button {
  font-size: 14px;
  letter-spacing: 0px;
  font-family: $font-primary;

  @include desktop {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: $font-secondary;
  }
}

.section-job__search {
  order: -1;

  @include tablet {
    order: 0;
  }

  @include tablet {
    padding: 20px 28px 0 0;
  }

  @include desktop {
    padding: 0;
  }
}

.form-group {
  margin-bottom: 8px;

  @include desktop {
    margin-bottom: 20px;
  }
}

.search-filter-forms .form-group:last-child {
  margin-bottom: 22px;
}

.section-job__search {
  border-bottom: 20px solid transparent;
}

.section-job__list {
  background-color: $color-primary;
  padding: 26px 14px;

  @include tablet {
    padding: 38px 18px;
  }

  @include desktop {
    padding: 0;
  }
}

.section-job__list .pagination {
  justify-content: flex-start;
  padding-top: 40px;
}

.section-job__list .pagination__list {
  column-gap: 0;
}
