.life-slider {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 -35px;

  @include tablet {
    flex-direction: row;
    margin: 0;
  }

  @include desktop {
    justify-content: center;
  }

  &__wrapper {
    max-width: 426px;
    background-color: $color-primary;
    padding: 40px 35px 245px;
    width: 100%;
    margin: 0 auto;

    @include tablet {
      padding: 40px;
      margin: 0;
    }

    @include desktop {
      width: 690px;
      min-height: 470px;
      max-width: none;
      padding: 40px 50px 50px 77px;
    }
  }

  &__bg {
    height: 373px;
    width: 100%;
    max-width: 353px;
    margin: -205px -20px 0;
    flex-grow: 1;

    @include tablet {
      height: 592px;
      max-width: 453px;
      margin: 0 -118px 0 0;
    }

    @include desktop {
    }

    @media (min-width: 1440px) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: -1;
    }

    @media (min-width: 1600px) {
      width: 536px;
      max-width: none;
      height: 812px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__about {
    font-size: 20px;
    line-height: 1.4;

    @include desktop {
      margin-bottom: 30px;
    }
  }

  &__benefits {
    margin-bottom: 30px;

    @include desktop {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin: 0;
    }
  }

  .swiper-slide {
    &:first-child {
      .life-slider__benefit {
        @include desktop {
          width: calc(50% - 10px);
          margin: 0;
        }
      }
    }
  }

  &__title,
  &__benefit-title {
    font-family: $font-secondary;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.2px;
    font-weight: 500;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__title {
    @include desktop {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 1.8px;
    }
  }

  &__benefit {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @include desktop {
      margin-bottom: 20px;
    }

    &--big {
      margin-bottom: 20px;

      .life-slider__benefit-icon {
        width: 73px;
        height: 73px;

        @include desktop {
          width: 85px;
          height: 85px;
        }
      }

      .life-slider__benefit-title {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 2px;

        @include desktop {
          font-size: 26px;
          line-height: 32px;
          letter-spacing: 2.6px;
        }
      }
    }
  }

  &__benefit-icon {
    width: 42px;
    height: 42px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  &__benefit-title {
    margin-bottom: 0;

    @include desktop {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 1.6px;
    }
  }

  &__benefit-descr {
    margin-bottom: 50px;

    @include desktop {
      min-height: 125px;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    gap: 30px;

    @include tablet {
      justify-content: flex-end;
    }

    @include desktop {
      gap: 40px;
    }

    button {
      border: 1px solid $color-white;

      &:focus,
      &:hover,
      &:active {
        border-color: $color-primary-light;
        color: $color-primary-light;
      }
    }
  }
}
