.page-header {
  display: flex;
  align-items: flex-start;
  font-family: $font-secondary;
  color: $color-white;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding-top: 40px;
  min-height: 250px;
  background-color: $color-primary;

  @include laptop {
    padding-top: 130px;
    min-height: 595px;
  }

  h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: -1.5px;
    margin-bottom: 40px;

    @include laptop {
      font-size: 60px;
      line-height: 73px;
      letter-spacing: 0.5px;
      margin-bottom: 80px;
    }
  }

  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;

    @include laptop {
      font-size: 30px;
      line-height: 55px;
    }
  }

  img {
    height: 42px;

    @include laptop {
      height: 84px;
    }
  }
}

.page-header-primary {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 48px 30px 18px 30px;

  @include desktop {
    padding: 136px 30px 100px;
  }
}

.page-header-primary::after {
  content: " ";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, transparent 100%);
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.page-header-primary h2,
.page-header-primary p {
  text-align: center;
  color: $color-white;
  z-index: 2;
  position: relative;
  letter-spacing: 0;
}

.page-header-primary h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 1px;
  font-weight: 900;

  @include desktop {
    margin-bottom: 40px;
    font-size: 60px;
  }
}

.page-header-primary p {
  margin-bottom: 0;

  @include desktop {
    line-height: 26px;
  }
}

.page-header-secondary-mobile {
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  @include tablet {
    display: none;
  }
}

.page-header-secondary {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
  background: $color-primary;

  @include tablet {
    padding-bottom: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 286px;
  }

  @include desktop {
    padding: 232px 0 0 0;
  }

  > * {
    @include tablet {
      display: grid;
      align-items: end;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;

    @include tablet {
      display: none;
    }
  }
}

.page-header-secondary h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 900;
  text-align: left;
  color: $color-white;
  z-index: 2;
  position: relative;
  margin-bottom: 0;

  @include desktop {
    font-size: 60px;
    max-width: 70%;
    line-height: 70px;
    margin-bottom: 68px;
  }
}
