.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // fallback
  // stylelint-disable-next-line
  min-height: var(--vh);
  height: 100%;
  background-color: $color-black;
}

.header,
.footer {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}
