$pagination-color-current: $color-secondary;
$pagination-color-hover: $color-secondary;
$pagination-gap: 10px;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &--current {
    color: $pagination-color-current;
  }

  &__item {
    &.is-active {
      .pagination__link {
        border-color: $color-secondary;

        .pagination--inverse & {
          border-color: $color-white;
        }
      }
    }
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 !important;
    padding-right: 8px;
    padding-left: 8px;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 12px;
    line-height: 40px;
    color: $color-secondary;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    text-align: center;

    .pagination--inverse & {
      color: $color-white;

      &.swiper-pagination-bullet {
        border: 1px solid transparent;
      }
    }

    &:focus,
    &:hover,
    &:active,
    &.swiper-pagination-bullet-active {
      border-color: $pagination-color-hover;
      color: $pagination-color-hover;

      .pagination--inverse & {
        border-color: $color-primary-light;
        color: $color-white;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: $pagination-gap;
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }

  &__next,
  &__prev {
    &:focus,
    &:hover,
    &:active {
      color: $pagination-color-hover;
    }
  }
}

.background-light {
  & .pagination--inverse {
    & .pagination {
      &__link {
        color: $color-primary;
        border-color: $color-primary;
      }
    }
  }
}
