.partnership {
    padding-top: 0;

    @include tablet {
        padding-bottom: 0;
    }

    @media (min-width: 1024px) {
        margin-top: -10px;
        padding-bottom: 0;
    }

    @include laptop {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include desktop {
        padding-bottom: 0;
        margin-top: -165px;
        margin-bottom: -115px;

        @media (max-height: 860px) {
            margin-top: -50px;
        }
    }

}