.section {
  padding-top: $section-padding-vertical;
  padding-bottom: $section-padding-vertical;

  @include desktop {
    padding-top: $section-padding-vertical-desktop;
    padding-bottom: $section-padding-vertical-desktop;
  }
}

.section-sm {
  padding-top: 20px;
  padding-bottom: 20px;

  @include desktop {
    padding-top: $section-padding-vertical;
    padding-bottom: $section-padding-vertical;
  }
}

.section--overlap-bottom {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;

  >.section {
    &:first-child {
      position: relative;
    }

    +.section {
      display: flex;
      flex-direction: column;
      padding-top: 0;

      >* {
        margin-top: auto;
      }
    }
  }
}

.section-overlap {
  display: grid;
  grid-template: repeat(4, [row] auto) / repeat(1, [col] 1fr);

  @include laptop {
    grid-template: repeat(4, [row] 1fr) / repeat(1, [col] 1fr);
  }

  >*:first-child {
    grid-column: 1;
    grid-row: 1/3;
  }

  >*:nth-child(2) {
    grid-column: 1;
    grid-row: 2/4;
    height: 100%;
  }

  >*:nth-child(3) {
    grid-column: 1;
    grid-row: 4;
  }
}

.section-faq {
  padding-top: 0;

  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .section {
    padding-right: calc($container-padding-x / 2);
    padding-left: calc($container-padding-x / 2);
  }
}