.toggle {
  border: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  color: $color-white;
  background: linear-gradient(
    270deg,
    rgba(102, 170, 175, 1) 0%,
    rgba(31, 69, 96, 1) 100%
  );

  &:focus,
  &:hover,
  &:active {
    background: linear-gradient(270deg, $color-primary 0%, $color-primary 100%);
  }

  &.active {
    svg {
      transform: rotate(180deg);
      transition-property: transform;
      transition-duration: $transition-duration;
    }
  }

  svg {
    top: 0;
    height: 100%;
    stroke: $color-white;
    transform: rotate(0);
    transition-property: transform;
    transition-duration: $transition-duration;
  }
}

[data-collapse-target] {
  span,
  svg {
    pointer-events: none;
  }
}

[data-collapse-content] {
  display: none;

  &.active {
    display: block;
  }
}
