.video {
  position: relative;
  line-height: 0;

  iframe {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__play {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    background: none;
    border: 0;
    border-radius: 50%;
    color: $color-white;
    cursor: pointer;

    &:focus,
    &:hover,
    &:active {
      color: $color-primary;
    }

    svg {
      width: calc(100% - 2px);
      height: inherit;
      pointer-events: none;
    }
  }

  &--slider {
    height: 393px;

    @include tablet {
      height: calc(100vw * 443 / 1024);
    }

    @include desktop {
      height: calc(100vw * 534 / 1920);
      max-height: 534px;
      width: calc(675px + (950 - 650) * ((100vw - 1366px) / (1920 - 1366)));
      max-width: 950px;
      flex-shrink: 0;
    }

    .video {
      &__play {
        width: 60px;
        height: 60px;

        @include tablet {
          width: 100px;
          height: 100px;
        }

        @include desktop {
          width: 141px;
          height: 141px;
        }
      }
    }
  }
}
