section.section.section-companies.background-primary
  .container
    +cardsSlider (
      {
        company: true,
        items: [
          {
            src: '/images/skanska.png',
            title: 'skanska',
            text: [
              {
                content: 'Skanska Group is&nbsp;one of&nbsp;the world&rsquo;s largest development and construction companies, operating in&nbsp;the Nordic countries, Europe and the United States.'
              },
              {
                content: 'Established in&nbsp;the&nbsp;UK in&nbsp;2000, Skanska has more than 3,300 local experts delivering projects across sectors including real estate, defence, education, highways, rail and water.'
              }
            ],
            button: 'Corporate site'
          },
          {
            src: '/images/costain.png',
            title: 'costain',
            text: [
              {
                content: 'Established in&nbsp;1865, Costain delivers integrated, smart infrastructure solutions to&nbsp;meet national needs across the UK&rsquo;s energy, water, transportation and defence markets.'
              },
              {
                content: 'Iconic projects have included the Thames Barrier, the Channel Tunnel and the Channel Tunnel Rail Link, including the revitalisation of&nbsp;St&nbsp;Pancras Station to&nbsp;accept Eurostar trains.'
              }
            ],
            button: 'Corporate site'
          },
          {
            src: '/images/starbag.png',
            title: 'starbag',
            text: [
              {
                content: 'Strabag is&nbsp;one of&nbsp;Europe&rsquo;s largest construction companies and draws on&nbsp;180 years of&nbsp;know-how and experience to&nbsp;deliver innovative solutions to&nbsp;the whole of&nbsp;the construction industry&nbsp;&mdash; from building construction &amp;&nbsp;civil engineering to&nbsp;transportation infrastructures and special divisions.'
              },
              {
                content: 'They aim to&nbsp;be&nbsp;climate neutral by&nbsp;2040.'
              }
            ],
            button: 'Corporate site'
          }
        ]
      }
    )
