section.section.insights.background-default
  .container
    h2.h2.text-primary-light.section-header-line.section-header-line--center
      span insights networks
        span.section-header-line__image(data-scrollspy="animate__fadeInRight")
          img(src="./images/horizontal-line-right.svg" alt="horizontal line.")
    .insights__text-wrap
      div
        h4.h4 Pride
        p The Pride network’s main aim is to support anyone facing LGBTQ+ issues at work or at home, including parents of people coming out, for example. They are a sociable group, who like to meet for lunch or a pub quiz. They also hold topic-driven events to educate the wider workforce, such as a film night followed by lively discussion to mark International Transgender Day of Visibility.
      div
        h4.h4 Parents & carers
        p Acknowledging that there’s a lot going on in people’s lives beyond work, this network launched during the pandemic. Monthly drop-ins are themed around topics such as becoming a new father or caring for elderly parents. With compassion, members share experiences, plus hints and tips about balancing responsibilities.
      div
        h4.h4 Race
        p The Racial and Cultural Engagement network is dedicated to positive representation of previously underrepresented racial and ethnic groups, informed and culturally sensitive engagement, and compassionate treatment and equality of all races, ethnicities, and cultures on the project. Members participated in a panel event during Racial Equality Week to highlight the importance of equality in our growing team.
      div
        h4.h4 Fair
        p The Female Advocates in Infrastructure and Rail network provides a safe space for people to voice issues and share opportunities with one another. It aims to build allies across the project​ and support its members. Each year the network marks International Women in Engineering Day with well-attended events that celebrate and inspire all genders.
