footer.footer.background-primary
  .container
    .footer__inner
      .footer__logo 
        a.logo(href="/")
          img(src="images/logo.svg" alt="alt.")
      .footer__links 
        a(href="") Privacy Policy
        a(href="") Cookies Policy