header.header
  .header__inner
    .container
      a.logo(href="/home.html")
        img(src="images/logo.svg" alt="Skanska, Costain, Strabag, HS2 logos." width="322" height="37")
      +navbar(
        [
          {
            text: "The Joint Venture",
            active: true,
            href: "/joint-venture.html"
          },
          {
            text: "Life at SCS",
            href: "/life-at-scs.html"
          },
          {
            text: "Jobs",
            href: "/jobs.html"
          }
        ]
      )
      .header__menu-toggle
        button.menu-toggle-open.js-toggle-menu(type="button")
          +svg("menu")
        button.menu-toggle-close.js-toggle-menu(type="button")
          +svg("close")
  .bar.background-secondary.text-center.hidden-lg
    .container
      button.button.button--inverse.text-left.full-width(type="button" data-scrollto="#apply-now")
        span Apply Now
        +svg('arrow-down')
  include  ../components/podcast