section.section.inclusion.background-default
  .inclusion__text-wrapper.background-primary
    .inclusion__text.text-center
      h4.h4 Inclusion
      .inclusion__description
        p We pride ourselves on being diverse, multicultural and mutli-disciplinary – a place where the best in their field find solutions to the most complex of problems. We also support our employees both personally and professionally, so they can be the best at work and at home.
  .container
    .inclusion__cards
      .inclusion__card
        img(src="./images/people-office-2.jpg" alt="")
      .inclusion__card
        img(src="./images/workers.jpg" alt="")
      .inclusion__card
        img(src="./images/people-office-3.jpg" alt="")