section.section.insights.background-default
  .container
    h4.h4.text-primary-light A culture of innovation
    .insights__text-wrap
      div
        p We believe in giving people the freedom to solve big problems with big ideas.
        p At SCS JV, that means ensuring our employees have the opportunity to move around the project, work flexibly, collaborate with others and find new ways of working. This enables them to solve the hardest problems in construction and develop an industry-changing approach that will achieve groundbreaking results.
      div
        p We place great importance on teamwork – whether you’re on the ground or in the office. And as a diverse, multicultural and mutli-disciplinary company, SCS is a place where you can grow both professionally and personally.