section.section.background-default
  .container
    h2.h2.text-center.colored LATEST JOBS
    +cardsSlider(
      {
        job: true,
        items: [
          {
            title: 'SENIOR GENERAL FOREMAN',
            rows: [
              {
                unit: 'partner:',
                value: 'skanska',
              },
              {
                unit: 'location:',
                value: 'north acton, london',
              },
              {
                unit: 'contract type:',
                value: 'permanent',
              },
              {
                unit: 'salary:',
                value: 'competitive',
              }
            ],
            text: [
              {
                description: 'To assist the asset leads with the planning, sequencing, methodology and design constructability of the Old Oak Common (OOC) Tunnel Boring Machine (TBM) launch site for the S1 Euston Tunnels.'
              }
            ],
            button: 'view role'
          },
          {
            title: 'ASSISTANT MATERIALS ENGINEER',
            rows: [
              {
                unit: 'partner:',
                value: 'skanska',
              },
              {
                unit: 'location:',
                value: 'north acton, london',
              },
              {
                unit: 'contract type:',
                value: 'permanent',
              },
              {
                unit: 'salary:',
                value: 'competitive',
              }
            ],
            text: [
              {
                description: 'To assist the asset leads with the planning, sequencing, methodology and design constructability of the Old Oak Common (OOC) Tunnel Boring Machine (TBM) launch site for the S1 Euston Tunnels.'
              }
            ],
            button: 'view role'
          },
          {
            title: 'PACKAGE TEMPORARY WORKS COORDINATOR',
            rows: [
              {
                unit: 'partner:',
                value: 'skanska',
              },
              {
                unit: 'location:',
                value: 'north acton, london',
              },
              {
                unit: 'contract type:',
                value: 'permanent',
              },
              {
                unit: 'salary:',
                value: 'competitive',
              }
            ],
            text: [
              {
                description: 'To assist the asset leads with the planning, sequencing, methodology and design constructability of the Old Oak Common (OOC) Tunnel Boring Machine (TBM) launch site for the S1 Euston Tunnels.'
              }
            ],
            button: 'view role'
          },
        ]
      }
    )
