section.section.partnership.background-default#partnership
  .container
    +project-presentation({
      src: "./images/worker.jpg",
      title: "A groundbreaking partnership",
      items: [
        "HS2 is the largest construction project in Europe. It will link the north and south of the UK for the first time in history.",
        "SCS Joint Venture is constructing 13 miles of twin-bore tunnels on the HS2 route to its southern terminus at London Euston. It will run 6 state-of-the-art tunnel boring machines, of which 5 will run simultaneously."
      ],
      href: "/",
      buttonOuter: "Discover more",
      line: true
    }).about-job--small(data-image-fade-in)