section.section.project.background-default
  picture.project__bg
    source(srcset="./images/latest-project-desk.jpg" type="image/jpeg" media="(min-width: 1024px)")
    img(src="./images/latest-project.jpg" alt="")
  .container
    .row
      .col-xl-10.offset-xl-1
        +project-presentation({
            src: "./images/people-office.jpg",
            title: "LATEST FROM THE PROJECT",
            items: [
              "2022 was a year of huge progress for the project, with a series of momentous milestones achieved and permanent HS2 structures taking shape across the route. We recently celebrated another major milestone, with over 1,000 apprentice starts now confirmed on our levelling up project.",
            ],
            href: "/",
            buttonInner: "WHY WORK HERE"
        }).about-job--reverse