section.section.insights.background-default.overflow-hidden#hiring
  .container
    h2.h2.text-primary-light.section-header-line.section-header-line--center
      span Hiring Process
        img(src="./images/horizontal-line-right.svg" alt="horizontal line." data-scrollspy="animate__fadeInRight")
  .container 
    ul.bullet-list.insights__list
      li
        .bullet-list__number 1
        .bullet-list__text
          p Your application is received and shortlisting takes place
      li
        .bullet-list__number 2
        .bullet-list__text
          p If you’re shortlisted, your CV is anonymised and sent to our hiring managers for review
      li
        .bullet-list__number 3
        .bullet-list__text
          p We’ll invite you for interview at one of our sites where you’ll discover more about the role and meet some of our team
      li
        .bullet-list__number 4
        .bullet-list__text
          p If you’re successful, you’ll receive a job offer and contract from the relevant parent company
      li
        .bullet-list__number 5
        .bullet-list__text
          p Subject to vetting and references, your onboarding process begins
      li
        .bullet-list__number 6
        .bullet-list__text
          p Onboarding is complete! Welcome to SCS JV