section.section.team.background-primary#meet-your-team
  .container
    .team__slider.swiper.js-team-slider
      .swiper-wrapper
        .swiper-slide
          .team__text-wrap.background-primary
            .team__title Meet the team
            figure.team__text
              blockquote The expertise on this project is incredible. i wouldn’t have been able to learn this much anywhere else.
              figcaption.team__author
                b James Jameson, 
                | project engineer
          +videoVimeo("./images/people-office-4.jpg").video--slider
        .swiper-slide
          .team__text-wrap.background-primary
            .team__title Meet the team
            figure.team__text
              blockquote the expertise on this project is incredible. i wouldn’t have been able to learn this much anywhere else.
              figcaption.team__author
                b James Jameson, 
                | project engineer
          +videoVimeo("./images/worker-3.jpg").video--slider
        .swiper-slide
          .team__text-wrap.background-primary
            .team__title Meet the team
            figure.team__text
              blockquote the expertise on this project is incredible. i wouldn’t have been able to learn this much anywhere else.
              figcaption.team__author
                b James Jameson, 
                | project engineer
          +videoVimeo("./images/worker-5.jpg").video--slider
        .swiper-slide
          .team__text-wrap.background-primary
            .team__title Meet the team
            figure.team__text
              blockquote the expertise on this project is incredible. i wouldn’t have been able to learn this much anywhere else.
              figcaption.team__author
                b James Jameson, 
                | project engineer
          +videoVimeo("./images/people-office-5.jpg").video--slider
        .swiper-slide
          .team__text-wrap.background-primary
            .team__title Meet the team
            figure.team__text
              blockquote the expertise on this project is incredible. i wouldn’t have been able to learn this much anywhere else.
              figcaption.team__author
                b James Jameson, 
                | project engineer
          +videoVimeo("./images/worker-4.jpg").video--slider
        .swiper-slide
          .team__text-wrap.background-primary
            .team__title Meet the team
            figure.team__text
              blockquote the expertise on this project is incredible. i wouldn’t have been able to learn this much anywhere else.
              figcaption.team__author
                b James Jameson, 
                | project engineer
          +videoVimeo("./images/worker-2.jpg").video--slider
      .swiper-pagination.pagination
