include mixins/accordion
include mixins/breadcrumb
include mixins/checkbox
include mixins/navbar
include mixins/page-header
include mixins/pagination
include mixins/radio
include mixins/sliders
include mixins/social-links
include mixins/svg
include mixins/switch
include mixins/tabs
include mixins/video
include mixins/search
include mixins/project-presentation
include mixins/life-slider
include mixins/card-company
include mixins/card-job
include mixins/card-facts
include mixins/cards-slider
include mixins/project-presentation
include mixins/card-more
