mixin cardFacts(data)
  .card-facts
    .card-facts__icon
      img(src= data.src alt="icon." data-scrollspy="animate__displayIn")
    h4.card-facts__title !{data.title}
    .card-facts__content
      each text in data.text
        p.card-facts__text !{text.content}
    button.button.button--inverse.text-left(type="button")
      span WHY WORK HERE
      +svg('arrow-right')

