mixin card-more(data)
  .card-more
    a(href="").card-more__img
      img(src= data.src alt="")
    h4.text-primary= data.title
    .card-more__description
      p= data.description
    a.button.button--inverse-secondary= data.button
      +svg("arrow-right")