mixin cardCare(data)
  .card-care
    .card-care__image 
      img.card-care__background(src=data.image alt="card image.")
      img.card-care__logo(src=data.logo alt="card logo.")
    .card-care__text 
      h3= data.title
      p= data.text
      .card-care__button-wrap
        a(href="").button.button--secondary.full-width About us
        a(href="").button.button--secondary.full-width View jobs