mixin slider()
  .swiper.slider
    .swiper-wrapper
      .swiper-slide
        h2 Slide 1
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 2
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 3
        img(src="http://placekitten.com/500/300" alt="")
    .swiper-pagination
    button.swiper-button-prev
    button.swiper-button-next

mixin slider-pagination()
  .swiper.slider-pagination
    .swiper-wrapper
      .swiper-slide
        h2 Slide 1
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 2
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 3
        img(src="http://placekitten.com/500/300" alt="")
    .swiper-pagination

mixin slider-thumbs()
  .swiper.slider-thumbs
    .swiper-wrapper
      .swiper-slide
        h2 Slide 1
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 2
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 3
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h2 Slide 4
        img(src="http://placekitten.com/500/300" alt="")
    button.swiper-button-prev
    button.swiper-button-next

  .swiper.slider-thumbs-nav
    .swiper-wrapper
      .swiper-slide
        h3 Slide 1
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h3 Slide 2
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h3 Slide 3
        img(src="http://placekitten.com/500/300" alt="")
      .swiper-slide
        h3 Slide 4
        img(src="http://placekitten.com/500/300" alt="")