extends pug/base

prepend vars
  - title = 'Cookie Policy'

append vars
  //-

block content
  +page-header("Cookie Policy", false, "./images/cookie-policy-bg.jpg")
  section.section-sm.background-default.pt-0
    .container
      .row 
        .col-md-10.offset-md-1
          article.article.background-primary.block-overlap-top
            h4 PELLENTESQUE EU TINCIDUNT TORTOR ALIQUAM NULLA FACILISI CRAS FERMENT ODIO. ODIO EUISMOD LACINIA AT QUIS RISUS SED VULPUTATE ODIO UT.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, inventore earum quod sed dolorum qui quaerat voluptate, debitis maxime quia maiores dolore, iusto consequatur adipisci vitae! Natus hic unde alias voluptate non velit magnam maiores ipsum aliquid? Voluptatum velit nesciunt expedita nulla repellat ab quibusdam nobis quia recusandae dignissimos. Deserunt est quis similique laborum possimus delectus veritatis illum facilis, dolorum in repellendus, sed quasi optio exercitationem a, asperiores et ducimus ut. Placeat ipsam, temporibus necessitatibus maxime rem veritatis exercitationem natus architecto laborum et animi minima, ea vero eligendi vel, aliquid illum. Nesciunt, recusandae sit. Doloremque aperiam voluptatem atque id fugit?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. A ullam, cumque, sunt hic doloremque at maxime, quas quo nihil necessitatibus itaque laborum rerum explicabo ex veritatis numquam quibusdam consequatur quam tenetur reprehenderit. Nisi animi architecto minima veritatis sint, quo similique ea ab, sequi autem repellat. Quasi ullam quis quod rem, harum maxime ad, facere sequi reprehenderit at molestiae, maiores dolore tenetur. Dolorum quam accusamus, nobis reprehenderit velit sapiente tempora similique debitis unde saepe itaque natus molestias, nam, praesentium exercitationem tempore eligendi quos omnis! Voluptatem quibusdam alias soluta nesciunt sequi nostrum placeat exercitationem, provident, eius facilis reiciendis, aperiam fugit perspiciatis aut.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, inventore earum quod sed dolorum qui quaerat voluptate, debitis maxime quia maiores dolore, iusto consequatur adipisci vitae! Natus hic unde alias voluptate non velit magnam maiores ipsum aliquid? Voluptatum velit nesciunt expedita nulla repellat ab quibusdam nobis quia recusandae dignissimos. Deserunt est quis similique laborum possimus delectus veritatis illum facilis, dolorum in repellendus, sed quasi optio exercitationem a, asperiores et ducimus ut. Placeat ipsam, temporibus necessitatibus maxime rem veritatis exercitationem natus architecto laborum et animi minima, ea vero eligendi vel, aliquid illum. Nesciunt, recusandae sit. Doloremque aperiam voluptatem atque id fugit?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. A ullam, cumque, sunt hic doloremque at maxime, quas quo nihil necessitatibus itaque laborum rerum explicabo ex veritatis numquam quibusdam consequatur quam tenetur reprehenderit. Nisi animi architecto minima veritatis sint, quo similique ea ab, sequi autem repellat. Quasi ullam quis quod rem, harum maxime ad, facere sequi reprehenderit at molestiae, maiores dolore tenetur. Dolorum quam accusamus, nobis reprehenderit velit sapiente tempora similique debitis unde saepe itaque natus molestias, nam, praesentium exercitationem tempore eligendi quos omnis! Voluptatem quibusdam alias soluta nesciunt sequi nostrum placeat exercitationem, provident, eius facilis reiciendis, aperiam fugit perspiciatis aut.