extends pug/base

prepend vars
  - title = 'Homepage'

append vars
  //-

block content
  +search()
  include pug/components/welcome
  include pug/components/partnership
  include pug/components/main-video
  include pug/components/innovation
  include pug/components/project
  include pug/components/jobs
