extends pug/base

prepend vars
  //-

append vars
  //-

block content
  .container(style="color:black; color: white;")
    br
    a(href="home.html")
      h3.h3 Homepage
    br
    a(href="joint-venture.html")
      h3.h3 The Joint Venture
    br
    a(href="life-at-scs.html")
      h3.h3 Life at SCS
    br
    a(href="jobs.html")
      h3.h3 Jobs
    br
    a(href="job-advert.html")
      h3.h3 Job Advert
    br
    a(href="privacy-policy.html")
      h3.h3 Privacy Policy
    br
    a(href="cookie-policy.html")
      h3.h3 Cookie Policy
    br
    a(href="uikit.html")
      h3.h3 UI Kit
    br
