extends pug/base

prepend vars
  - title = 'Life at SCS'

append vars
  //-

block content
  +search()
  include pug/components/main-life
  include pug/components/inclusion
  include pug/components/employee-networks
  include pug/components/team
  section.section.background-light